{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<body>
{#    <div style="text-align: right;">#}
{#        <img src="https://imgcp.aacdn.jp/img-a/1720/auto/global-aaj-front/article/2015/11/56553458861c3_565533472124f_607467339.jpg" alt="myProfileImage">#}
{#    </div>#}
      <div>
          <h1>{{ name }}</h1>
          <p><small>
              CSCI 3329
          </small></p>
          <div class="menu-link">
            <a href="/game"> Play Hangman Game</a>
        </div>
          <div class="content">
            {% for content in aboutMe %}
              <p>{{content}}<p>
            {% endfor %}
          </div>
      </div>
</body>
</html>