{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<body style="text-align: center;">
      <div>
          <h1>{{ name }}</h1>
          <h2>Word: {{ word }}</h2>
          <div class="menu-link">
            <a href="/game">Play again</a>
        </div>
</body>
</html>